<h2>
  <strong>Name:</strong>
  <%= @cocktail.name %>
</h2>
  <% @doses.each do |dose| %>
  <p><%= dose.description %> - <%= dose.ingredient.name %></p>
  <%= link_to 'Delete Dose', dose_path(dose), method: "delete" %><br>
  <% end  %>

<%= link_to 'New Cocktail Dose', new_cocktail_dose_path(@cocktail), class: "btn btn-danger"%> <br>
<%= link_to 'Back to Cocktail List', cocktails_path, class: "btn btn-success" %>
