<div class="navbar-wagon">
  <a href="/" class="navbar-wagon-brand">
    <%= cl_image_tag("shaker") %>
  </a>
    <a href="/" class="navbar-wagon-title"><%= cl_image_tag("logo") %></a>
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <a href="" class="navbar-wagon-item navbar-wagon-link">Search</a>
    <a href="<%= new_cocktail_path  %>" class="navbar-wagon-item navbar-wagon-link">Add New Cocktail</a>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 ">
      <div class="show_card_img" style="background-image: url( '<%= cl_image_path @cocktail.photo unless @cocktail.photo.blank? %>' );">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="show_card">
        <h2><%= @cocktail.name %></h2>
        <hr>
        <p><em>Ingredients</em></p>
        <% @doses.each do |dose| %> <p><%= dose.ingredient.name %> - <%= dose.description %> </p><% end %>
      </div>
    </div>
  </div>
</div>
<div class="buttons text-center">
  <%= link_to 'Edit Cocktail', edit_cocktail_path(@cocktail), class: "btn btn-black"%> |
  <%= link_to 'Add Ingredient', new_cocktail_dose_path(@cocktail), class: "btn btn-black"%> |
  <%= link_to "Delete Cocktail", cocktail_path(@cocktail), method: "delete", data: {confirm: "Are you sure you want to delete this cocktail?"}, class: "btn btn-black" %></li>
</div>
<%= render 'footer' %>
