<div class="navbar-wagon">
  <a href="/" class="navbar-wagon-brand">
    <%= cl_image_tag("shaker") %>
  </a>
  <a href="/" class="navbar-wagon-title"><%= cl_image_tag("logo") %></a>
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <a href="" class="navbar-wagon-item navbar-wagon-link">Search</a>
    <a href="<%= new_cocktail_path  %>" class="navbar-wagon-item navbar-wagon-link">Add New Cocktail</a>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <h2>Add Ingredient</h2>
      <%= simple_form_for [ @cocktail, @dose ] do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <% if @dose.errors.any? %>
      <div class="errors-container">
        <ul>
          <% @dose.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <div class="form-inputs">
        <%= f.input :description %>
        <%= f.association :ingredient %>
      </div>

      <div class="form-actions">
        <%= f.submit "Add Ingredient", class: "btn btn-black new-button"%>
      </div>
      <% end %>

      <%= link_to 'Back', cocktail_path(@cocktail), class: "btn btn-black new-button" %>
    </div>
  </div>
</div>
<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/joshbolland" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/joshuabolland/" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="https://twitter.com/joshbolland95" target="_blank"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    <a href="https://github.com/joshbolland" target="_blank">Made by Josh Bolland</a>
  </div>
</div>
